body{
  font-family: 'Roboto', sans-serif;
}
.inputdemoErrorsAdvanced .hint {

    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;

    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);

    color: grey;
  }
  .inputdemoErrorsAdvanced .hint.ng-hide,
  .inputdemoErrorsAdvanced .hint.ng-enter,
  .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
  .inputdemoErrorsAdvanced .hint.ng-leave,
  .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }

md-toolbar h1{
  font-size: 1.2rem;
  margin: 0;
  color: #fff;
}

md-toolbar{
  min-height: 0;
  padding: 1%;
}

.hint{
  font-size: 0.8rem;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background: #1E88E5;
}
/*Inicio de estilos del view del client*/
#clientView #blackSpace{
  background-color: #282827;
  padding-top: 5px;
  padding-bottom: 5px;
}
#clientView{
  background-image: url(../img/backg2.jpg);
  background-size: cover;
  padding-bottom: 60px;
}
#clientView #NameImgSpace{
  margin-top: 60px;
  margin-bottom: 100px;
}
#clientView #NameImgSpace img{
  margin-left: 5%;
}
#clientView #blackSpace .md-button{
  color: #fff;
  margin-left: 2%;
}
/*#clientView #NameImgSpace .md-button:hover{
  background-color:  #000;
  transition: 2s;
}*/
#clientView #NameImgSpace div img{
  margin: 0 auto;
}
/*#clientView #NameImgSpace div .md-button{
  align-content: center;
}*/
#clientView div h3{
  color: #464644;
  letter-spacing: 1px;
  margin-left: 2%;
  text-align: center;
}

#clientView #forms-msj #ModInfo .well, #clientView #forms-msj #clientMeasurement .well{
  background-color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}
#clientView #forms-msj #forms .buttonForm{
  background-color: transparent;
  border: none;
  color: #464644;
}
#clientView #forms-msj #forms button:hover{
  background-color:  #efc01d;
  transition: 2s;
  color: #000;
}
#clientView #forms-msj #forms div label{
  font-size: 1.286em;
}
#clientView #forms-msj #coachAsigne{
  color: #464644;
}
#clientView #forms-msj #forms{
  margin-bottom: 30px;
}
#clientView #NameImgSpace #motivationMsj p{
  font-size: 2.857em;
  text-align: center;
  color: #464644;
}
#clientView .buttonCollapse{
  background: rgba(239, 192, 29, 0.4);
  border: none;
  color: #fff;
  margin-top: 30px;
  outline: none;
}
#clientView div p{
  color: #fff;
}
#clientView #notifications{
  margin-top: 100px;
}
#clientView #notifications p span{
  color: #f11616;
}
#clientView #notifications p{
  font-size: 1.286em;
  margin-left: 2%;
  margin-bottom: 20px;
}
#clientView #filterMeas div input{
  border-radius: 5px;
  border: none; 
  margin-left: 2%;
}
#clientView #notifications table, #clientView #filterMeas table{
  margin-left: 2%;
  margin-bottom: 60px;
}
#clientView #notifications table thead tr th, #clientView #filterMeas table thead tr th{
  color: #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1cece;
}
#clientView #notifications table tbody tr td, #clientView #filterMeas table tbody tr td{
  color: #fff;
  border-bottom: 1px solid #d1cece;
}
/*Insertar estilos diferentes en media queries*/
@media only screen and (max-width:992px){
  #clientView #forms-msj #forms{
  margin-bottom: 200px;
  }
}
@media only screen and (max-width:768px){
  #clientView #forms-msj #motivationMsj p{
  font-size: 2.286em;
  text-align: center;
  }
  #clientView #forms-msj #forms{
  margin-bottom: 100px;
  }
}

#clientView #filterMeas p{
  font-size: 1.286em;
  margin-left: 2%;
  margin-bottom: 20px;
}
/*Fin de estilos del view del client*/
