body{
  font-family: 'Roboto', sans-serif;

}

#admin{
  font-size: 2rem;
}

.hi{
  margin: 0 2.5% 0 0;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.inputdemoErrorsAdvanced .hint {

    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;

    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);

    color: grey;
  }
  .inputdemoErrorsAdvanced .hint.ng-hide,
  .inputdemoErrorsAdvanced .hint.ng-enter,
  .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
  .inputdemoErrorsAdvanced .hint.ng-leave,
  .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }

md-toolbar h1{
  font-size: 1.2rem;
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

md-toolbar{
  min-height: 0;
  padding: 1%;
}

.hint{
  font-size: 0.8rem;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background: #FFCE3E;
}

md-select{
  margin: 0;
}

table{
  font-size: 1.4rem;
}

th{
  font-weight: 500;
}

#logOut{
  float: right;
}

md-toolbar:after{
  clear: both;
  display: block;
  content: '';
}

.btn-info, .btn-danger{
  border-radius: 3px;
  border: none;
  padding: 3.5% 6%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  box-sizing: border-box;
}

.buttons{
  text-align: center;
}

.btn-info{
  padding: 2% 12%;
}

.error{
  color: red;
  margin: 1%;
}

.success{
  color: #1bc98e;
  margin: 1%;
}

.blocked{
  color: red;
}

.menu{
  color: #fff;
}

.md-button{
  color: #fff;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #484b53;
    color: #484b53;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #484b53;
}

#form-login{
  margin: 10% auto
}

#form-login label{
  margin: 3.5% 0;
}

#login-card{
  margin: 27.5% 0;
  width: 40%;
}
/*Inicio de estilos del view del client*/
#clientView #blackSpace{
  background-color: #282827;
  padding-top: 5px;
  padding-bottom: 5px;
}
#landingView #yellowSpace{
  background-color: #ffce3e;
  padding-top: 5px;
  padding-bottom: 5px;
}
#clientView{
  background-image: url(../img/backg2.jpg);
  background-size: cover;
  padding-bottom: 60px;
}
#clientView #NameImgSpace{
  margin-top: 60px;
  margin-bottom: 100px;
}
#clientView #NameImgSpace img{
  margin-left: 5%;
}
#clientView #blackSpace .md-button{
  color: #fff;
  margin-left: 2%;
}
#clientView #yellowSpace div #logInButton{
  color: #282827;
  margin-left: 2%;
}
/*#clientView #NameImgSpace .md-button:hover{
  background-color:  #000;
  transition: 2s;
}*/
#clientView #NameImgSpace div img{
  margin: 0 auto;
}
/*#clientView #NameImgSpace div .md-button{
  align-content: center;
}*/
#clientView div h3{
  color: #464644;
  letter-spacing: 1px;
  margin-left: 2%;
  text-align: center;
}

#clientView #forms-msj #ModInfo .well, #clientView #forms-msj #clientMeasurement .well{
  
}
#clientView #forms-msj #forms .buttonForm{
  background-color: transparent;
  border: none;
  color: #464644;
}
#clientView #forms-msj #forms button:hover{
  background-color:  #efc01d;
  transition: 2s;
  color: #000;
}
#clientView #forms-msj #forms div label{
  font-size: 1.286em;
}
#clientView #forms-msj #coachAsigne{
  color: #464644;
}
#clientView #forms-msj #forms{
  margin-bottom: 30px;
}
#clientView #NameImgSpace #motivationMsj p{
  padding-top: 80px;
  font-size: 2.857em;
  text-align: center;
  color: #464644;
}
#clientView .buttonCollapse{
  background-color:  #efc01d;
 /* background: rgba(239, 192, 29, 0.4);*/
  border: none;
  color: #000;
  margin-top: 30px;
  outline: none;
}
#clientView div p{
  
}
#clientView #forms-msj #notifications{
  
}
#clientView #forms-msj #notifications p span{
  color: #f11616;
}
#clientView #forms-msj #notifications p{
  font-size: 1.286em;
  margin-left: 2%;
  margin-bottom: 20px;
}
#clientView #filterMeas div input{
  border-radius: 5px;
  border: none; 
  margin-left: 2%;
}
#clientView #forms-msj #notifications table, #clientView #filterMeas table{
  margin-left: 2%;
  margin-bottom: 60px;
}
#clientView #forms-msj #notifications table thead tr th, #clientView #filterMeas table thead tr th{
  color: #464644;
  padding-bottom: 20px;
  border-bottom: 1px solid #464644;
#clientView #notifications table tbody tr td, #clientView #filterMeas table tbody tr td{
  color: #464644;
  border-bottom: 1px solid #464644;
}
/*Insertar estilos diferentes en media queries*/
@media only screen and (max-width:992px){
  #clientView #forms-msj #forms{
  margin-bottom: 200px;
  }
}
@media only screen and (max-width:768px){
  #clientView #forms-msj #motivationMsj p{
  font-size: 2.286em;
  text-align: center;
  }
  #clientView #forms-msj #forms{
  margin-bottom: 100px;
  }
}
#clientView #filterMeas p{
  font-size: 1.286em;
  margin-left: 2%;
  margin-bottom: 20px;
}

#ErrorMessage, #SuccessMessage{
  color: #464644;
}


.client-container-image{
  width: 27.5%;
}

.client-container-image img{
  width: 100%;
}
/*Fin de estilos del view del client*/


