/*body{
  font-family: 'Roboto', sans-serif;
}
.inputdemoErrorsAdvanced .hint {

    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;

    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);

    color: grey;
  }
  .inputdemoErrorsAdvanced .hint.ng-hide,
  .inputdemoErrorsAdvanced .hint.ng-enter,
  .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
  .inputdemoErrorsAdvanced .hint.ng-leave,
  .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }

md-toolbar h1{
  font-size: 1.2rem;
  margin: 0;
  color: #fff;
}

md-toolbar{
  min-height: 0;
  padding: 1%;
}

.hint{
  font-size: 0.8rem;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background: #1E88E5;
}

#clientView{
  background-image: url(../img/backgClient1.jpg);
  background-size: cover;
  padding-bottom: 300px;
}
#clientView #NameImgSpace{
  margin-top: 60px;
  margin-bottom: 60px;
}
#clientView div h3{
  color: #fff;
  letter-spacing: 2px;
}
#clientView #forms-msj{
  margin-top: 150px;
}
#clientView #forms-msj #ModInfo .well, #clientView #forms-msj #clientMeasurement .well{
  background-color: rgba(255, 255, 255, 0.4);
  border-color: transparent;
}
#clientView #forms-msj #forms div label{
  color: #fff;
}
#clientView #forms-msj #motivationMsj p{
  font-size: 2.857em;
  text-align: center;
  padding-top: 30px;
}
#clientView .buttonCollapse{
  background: #efc01d;
  border: none;
  color: #000;
  margin-top: 30px;
}
#clientView .buttonCollapse:hover{
  transition: 2s;
  background: #f9da6e;
}
#clientView div p{
  color: #fff;
}

#clientView #notifications{
  margin-top: 100px;
}
*/