
<section class="container-fluid">
	<div>
		<a href="#/client#modInfo" class="btn btn-primary" data-toggle="collapse"> Modificar datos personales<span class="fa fa-angle-down"></span></a>
        <div class="collapse" id="modInfo">
           <div class="well">
              <form class="form-inline col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
              	<div class="form-group">
              		<label for="">Cédula</label>
              		<input type="text" class="form-control">
              	</div>
              </form>
           </div>
        </div>
	</div>
    

</section>