<div ng-controller="userAccountCtrl as user" layout="column" ng-cloak ng-init="view = 1">

<md-toolbar layout="row" layout-sm="column" layout-align="left center" layout-wrap class="md-whiteframe-1dp">
  <h1 flex="10">Admin Platform</h1>
  <md-button ng-click="view = 1" ng-style="view === 1 ? { 'background':'rgba(255,255,255,0.2)'} : { 'background':'transparent' }">Registros</md-button>
  <md-button ng-click="view = 2" ng-style="view === 2 ? { 'background':'rgba(255,255,255,0.2)'} : { 'background':'transparent' }">Usuarios</md-button>
</md-toolbar>

  <md-content layout-padding ng-show="view == 1">
    <form name="userForm">
      <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">

        <md-input-container>
          <md-switch ng-model="showHints">Showing {{showHints ? "Hints" : "Errors"}}</md-switch>
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label class="md-primary">Cédula</label>
          <input name="id" ng-model="user.id" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />

          <div class="hint" ng-if="showHints"># ########</div>

          <div ng-messages="userForm.id.$error" ng-if="!showHints">
            <div ng-message="pattern">###-##-#### - Porfavor ingrese un número de identificación válido.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Primer nombre</label>
          <input md-maxlength="30" required name="name" ng-model="user.name" />

          <div class="hint" ng-if="showHints">Ingresa cual es tu primer nombre porfavor.</div>

          <div ng-messages="userForm.name.$error" ng-if="!showHints">
            <div ng-message="required">El primer nombre es requerido.</div>
            <div ng-message="md-maxlength">El primer nombre tiene que ser menor a 30 caracteres.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Segundo nombre</label>
          <input md-maxlength="30" required name="secondName" ng-model="user.secondName" />

          <div class="hint" ng-if="showHints">Ingresa cual es tu primer nombre porfavor.</div>

          <div ng-messages="userForm.secondName.$error" ng-if="!showHints">
            <div ng-message="required">El segundo nombre es requerido.</div>
            <div ng-message="md-maxlength">El segundo nombre tiene que ser menor a 30 caracteres.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        </div>
        <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
          <label>Primer apellido</label>
          <input md-maxlength="30" required name="firstName" ng-model="user.firstName" />

          <div class="hint" ng-if="showHints">Ingresa cual es tu primer apellido porfavor.</div>

          <div ng-messages="userForm.firstName.$error" ng-if="!showHints">
            <div ng-message="required">El primer apellido es requerido.</div>
            <div ng-message="md-maxlength">El primer apellido tiene que ser menor a 30 caracteres.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Segundo apellido</label>
          <input md-maxlength="30" required name="lastName" ng-model="user.lastName" />

          <div class="hint" ng-if="showHints">Ingresa cual es tu segundo apellido porfavor.</div>

          <div ng-messages="userForm.lastName.$error" ng-if="!showHints">
            <div ng-message="required">El segundo apellido es requerido.</div>
            <div ng-message="md-maxlength">El segundo apellido tiene que ser menor a 30 caracteres.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Nacionalidad</label>
          <input md-maxlength="30" required name="nationality" ng-model="user.nationality" />

          <div class="hint" ng-if="showHints">Ingresa tu nacionalidad porfavor.</div>

          <div ng-messages="userForm.nationality.$error" ng-if="!showHints">
            <div ng-message="required">La nacionalidad es requerida.</div>
            <div ng-message="md-maxlength">La nacionalidad tiene que ser menor a 30 caracteres.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

      </div>

      <div layout-gt-sm="row">

        <md-input-container flex="50">
          <label>Tipo de idenfiticación</label>
          <md-select name="idType" ng-model="user.idType" required>
            <md-option value="tim">TIM</md-option>
            <md-option value="cdi">Cédula de identificación</md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex-gt-xs flex="20">
          <label>Fecha de nacimiento</label>
          <md-datepicker ng-model="user.myDate" md-current-view="year" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>

        <md-radio-group layout="row" layout-align="start center" ng-model="user.genre">
            <md-radio-button value="male" class="md-primary">Masculino</md-radio-button>
            <md-radio-button value="female">Femenino</md-radio-button>
            <md-radio-button value="undefined">Indefinido</md-radio-button>
        </md-radio-group>

      </div>

      <md-input-container class="md-block" flex-gt-sm>
          <label class="md-primary">Teléfono</label>
          <input name="id" ng-model="user.id" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />

          <div class="hint" ng-if="showHints">########</div>

          <div ng-messages="userForm.id.$error" ng-if="!showHints">
            <div ng-message="pattern">######### - Porfavor ingrese un número de teléfono válido.</div>
          </div>
        </md-input-container>

        <md-input-container> 
        <label class="md-primary">Nombre de usuario</label>
        <input name="username" ng-model="user.username" ng-pattern="/^[a-zA-Z0-9]*$/" />

        <div class="hint" ng-if="showHints">xyz08 OR abcd78</div>

        <div ng-messages="userForm.username.$error" ng-if="!showHints">
          <div ng-message="pattern">xyz08 OR abcd78 - Porfavor ingrese un nombre de usuario válido</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input name="email" ng-model="user.email"
                 required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

          <div class="hint" ng-show="showHints">How can we reach you?</div>

          <div ng-messages="userForm.email.$error" ng-hide="showHints">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              Your email must be between 10 and 100 characters long and look like an e-mail address.
            </div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Phone Number</label>
          <input name="phone" ng-model="user.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />

          <div class="hint" ng-show="showHints">(###) ###-####</div>

          <div ng-messages="userForm.phone.$error" ng-hide="showHints">
            <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
          </div>
        </md-input-container>

        <style>
          /*
           * The Material demos system does not currently allow targeting the body element, so this
           * must go here in the HTML.
           */
          body[dir=rtl] .hint {
            right: 2px;
            left: auto;
          }
        </style>
      </div>

    </form>
  </md-content>

</div>