<div class="container-fluid">
  <div class="row coachView">
    <div class="dateRequested col-xs-12 col-sm-6 col-lg-2">
      <table class="col-xs-12">
        <thead>
          <tr>
            <th><h3 class="col-xs-12">Solicitadas</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="card">
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="dateAproved col-xs-12 col-sm-6 col-lg-2">
      <table class="col-xs-12">
        <thead>
          <tr>
            <th><h3 class="col-xs-12">Aceptadas</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="contClient col-xs-12 col-sm-12 col-lg-8">
      <div class="infPersonal">

      </div>
      <form class="frmSize">
        <h3 class="col-xs-12">Parámetros corporales</h3>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Estatura</label>
          <input class="form-control col-xs-12" type="number" ng-model="?.height">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Peso</label>
          <input class="form-control col-xs-12" type="number" ng-model="?.weight">
        </div>
        <h3 class="col-xs-12">Medidas corporales</h3>
        <h4 class="col-xs-12">Perímetros (en centimetros)</h4>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Bíceps</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.bicepsLeft">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.bicepsRight">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Bíceps contraído</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.bicepsLeftContracted">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.bicepsRightContracted">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Pantorrilla</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.calfLeft">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.calfRight">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Muslo</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.thighLeft">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.thighRight">
        </div>
        <h5 class="col-xs-12">Medidas únicas</h5>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Cintura</label>
          <input class="form-control col-xs-12" type="number" ng-model="?.waist">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Abdomen</label>
          <input class="form-control col-xs-12" type="number" ng-model="?.abdomen">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Cadera</label>
          <input class="form-control col-xs-12" type="number" ng-model="?.hip">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Pecho</label>
          <input class="form-control col-xs-12" type="number" ng-model="?.chest">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Espalda</label>
          <input class="form-control col-xs-12" type="number" ng-model="?.back">
        </div>
        <h4 class="col-xs-12">Pliegues (en milímetros)</h4>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Tríceps</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.trícepsLeft">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.trícepsRight">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Subescapular</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.subscapularLeft">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.subscapularRight">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Supraespinal</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.supraespinalLeft">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.supraespinalRight">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Abdominal</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.abdominalLeft">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.abdominalRight">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Muslo</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.thighsLeft">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.thighsRight">
        </div>
        <div class="form-group col-xs-6 col-sm-2 col-lg-3">
          <label for="">Pantorrilla</label>
          <input class="form-control col-xs-12" placeholder="Izquierdo" type="number" ng-model="?.calvesLeft">
          <input class="form-control col-xs-12" placeholder="Derecho" type="number" ng-model="?.calvesRight">
        </div>
        <div class="col-xs-12">
          <input type="buttom" class="btn btn-primary col-xs-12 col-sm-4" value="Agregar">
        </div>
      </form>
    </div>
  </div>
</div>
