<section id="clientView" class="container-fluid">
  <div id="blackSpace" class="row">
    <div class="col-xs-offset-7 col-xs-5 col-sm-offset-10 col-sm-2">
      <md-button ng-click="vm.logOut()"> Cerrar Sesión </md-button>
    </div>
  </div>
  <!-- Nombre de usuario -->
  <div id="NameImgSpace" class="row">
    <div class="col-xs-12 col-sm5 col-md-3 col-lg-3">
      <!-- <figure class="client-container-image">
        <img class="col-xs-6 col-sm-4 col-md-3 col-lg-3 clientImage" ng-src="{{vm.userIn.image}}" alt="Description"/>
      </figure> -->
      <h3>¡Hola {{vm.userIn.name}} {{vm.userIn.firstName}}!</h3>
    </div>
    <!-- <div id="motivationMsj" class="col-sm-6 col-md-6 col-lg-offset-3 col-lg-5">
      <p>¡Siempre firme hacia las metas, se puede lograr!</p>
    </div> -->
  </div>
  <!-- Formulario de datos a editar -->
  <div id="forms-msj" class="row">
    <div id="forms" class="col-sm-6 col-md-6 col-lg-6">
      <div id="form1" >
        <button class="btn btn-primary btn-lg buttonCollapse" type="button"  data-toggle="collapse" data-target="#ModInfo" aria-expanded="false" aria-controls="ModInfo" ng-click="vm.getInfo(vm.userIn)">Editar Perfil</button>
        <div class="collapse" id="ModInfo">
          <div class="well">
            <form name="frmModInfo" autocomplete="off">

              <!-- Campo Usuario -->
              <md-input-container flex-offset>
                <label>Nombre de usuario</label>
                <input name="userName" ng-model="vm.userIn.userName" ng-pattern="/^[a-z0-9_-]{3,15}$/" required>
                <!-- Mensaje de retroalimentacion -->
                <div ng-messages="frmModInfo.userName.$error">
                  <div ng-messages-include="components/includes/messages.html"></div>
                </div>
              </md-input-container>

              <!-- Campo contraseña -->
              <md-input-container flex-offset>
                <label>Contraseña</label>
                <input name="password" ng-model="vm.userIn.password" ng-pattern="/^[a-zA-Z0-9]*$/" type="password" required>
                <!-- Mensaje de retroalimentacion -->
                <div ng-messages="frmModInfo.password.$error">
                  <div ng-messages-include="components/includes/messages.html"></div>
                </div>
              </md-input-container>

              <!-- Campo teléfono -->
              <md-input-container flex-offset>
                <label>Teléfono</label>
                <input name="phone" ng-model="vm.userIn.phone" ng-pattern="/^[0-9]{8}$/" required>
                <!-- Mensaje de retroalimentacion -->
                <div ng-messages="frmModInfo.phone.$error">
                  <div ng-messages-include="components/includes/messages.html"></div>
                </div>
              </md-input-container>

              <!-- Campo Contacto de emergencia -->
              <md-input-container flex-offset>
                <label>Contacto de emergencia</label>
                <input name="emergContact" ng-model="vm.userIn.emergContact" type="text" required>
                <!-- Mensaje de retroalimentacion -->
                <div ng-messages="frmModInfo.emergContact.$error">
                  <div ng-messages-include="components/includes/messages.html"></div>
                </div>
              </md-input-container>

              <br>
              
              <!-- Campo fotografía -->
              <label>Fotografía</label>
                <input type="file" ng-model="user.image" name="photo" id="photo">

              <br>

              <button class="btn btn-primary buttonForm" type="submit" data-toggle="collapse" data-target="#ModInfo" ng-click="vm.update(vm.userIn)" ng-disabled="frmModInfo.$invalid">Actualizar</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Formulario de solicitud de cita -->
      <div id="form2" >
        <button class="btn btn-primary btn-lg buttonCollapse" type="button"  data-toggle="collapse" data-target="#clientMeasurement" aria-expanded="false" aria-controls="clientMeasurement">Solicitar cita de medición</button>
        <div class="collapse" id="clientMeasurement">
          <div class="well">
            <p id="coachAsigne">Su instructor asignado es {{vm.userIn.coach}}</p>
            <form name="frmClientM" class="form-inline ">
              <md-input-container flex-offset>
                <md-datepicker ng-model="vm.date"  md-placeholder="Fecha de cita" required></md-datepicker>
              <!-- Mensaje de retroalimentacion -->
                 <div ng-messages="frmModInfo.emergContact.$error">
                   <div ng-messages-include="components/includes/messages.html"></div>
                 </div>
              </md-input-container>
              <button class="btn btn-primary buttonForm" type="submit" ng-click="vm.setAppointment(vm.date)"  ng-disabled="frmClientM.$invalid">Enviar</button>
            </form>
            <p class="ErrorMessage"></p>
            <p class="SuccessMessage"></p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Tabla de estado de citas -->
    <div id="notifications" class="col-sm-6 col-md-6 col-lg-6">
      <p><span class="fa fa-bell"></span> Notificación de las citas solicitadas: </p>
      <table class="col-xs-11">
        <thead>
          <tr>
            <th>FECHA</th>
            <th>ESTADO</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="appointment in vm.appointmentsStatus">
            <td>{{appointment.date}}</td>
            <td>{{appointment.state}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
  
  <!-- Tabla para filtro de medidas-->
  <div id="filterMeas" class="row">
    <p>Historial de medidas:</p>
    <table class="col-xs-11">
      <thead>
        <tr>
          <th>PORCENTAJE DE MASA MUSCULAR</th>
          <th>PORCENTAJE DE GRASA SUBCUTÁNEA</th>
          <th>IMC</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p class="col-xs-12">Ver medidas de otras fechas, seleccione el rango:</p>
    <div class="col-xs-12">
      <input  ng-model="ctrl.from" name="from" type="date"/>
      <input  ng-model="ctrl.to" name="to" type="date"/>
    </div>
  </div>

</section>



