<section id="clientView" class="container-fluid">
  <!-- Nombre de usuario -->
  <div id="NameImgSpace" class="row">
    <div class="col-xs-6 col-sm-8 col-md-9 col-lg-9">
      <h3>¡Hola {{vm.userIn.name}} {{vm.userIn.firstName}}!</h3>
    </div>
    <img class="col-xs-6 col-sm-4 col-md-3 col-lg-3 clientImage" ng-model="vm.userIn.image" alt="Description" width="40px" height="60px"/>
    <md-button> Cerrar Sesión </md-button>
  </div>
  <!-- Formulario de datos a editar -->
  <div id="forms-msj" class="row">
    <div id="forms" class=" col-sm-12 col-md-6 col-lg-6">
      <div id="form1" class="col-xs-12">
        <button class="btn btn-primary btn-lg buttonCollapse" type="button"  data-toggle="collapse" data-target="#ModInfo" aria-expanded="false" aria-controls="ModInfo" ng-click="vm.getInfo(vm.userIn)">Editar Perfil</button>
        <div class="collapse" id="ModInfo">
          <div class="well">
            <form name="frmModInfo" autocomplete="off">

              <!-- Campo Usuario -->
              <md-input-container flex-offset>
                <label>Usuario</label>
                <input name="userName" ng-model="vm.userIn.userName" type="text" required>
                <!-- Mensaje de retroalimentacion -->
                <div ng-messages="projectForm.clientEmail.$error" role="alert">
                  <div ng-messages="frmModInfo.userName.$error">
                    <div ng-messages-include="components/includes/messages.html"></div>
                  </div>
                </div>
              </md-input-container>

              <!-- Campo contraseña -->
              <md-input-container flex-offset>
                <label>Contraseña</label>
                <input name="password" ng-model="vm.userIn.password" type="password" required>
                <!-- Mensaje de retroalimentacion -->
                <div ng-messages="projectForm.clientEmail.$error" role="alert">
                  <div ng-messages="frmModInfo.password.$error">
                    <div ng-messages-include="components/includes/messages.html"></div>
                  </div>
                </div>
              </md-input-container>

              <!-- Campo fotografía -->
              <md-input-container flex-offset>
                <label>Fotografía</label>
                <input name="image" ng-model="vm.userIn.image" type="text" required>
                <!-- Mensaje de retroalimentacion -->
                <div ng-messages="projectForm.clientEmail.$error" role="alert">
                  <div ng-messages="frmModInfo.image.$error">
                    <div ng-messages-include="components/includes/messages.html"></div>
                  </div>
                </div>
              </md-input-container>

              <!-- Campo teléfono -->
              <md-input-container flex-offset>
                <label>Teléfono</label>
                <input name="phone" ng-model="vm.userIn.phone" type="text" required>
                <!-- Mensaje de retroalimentacion -->
                <div ng-messages="projectForm.clientEmail.$error" role="alert">
                  <div ng-messages="frmModInfo.phone.$error">
                    <div ng-messages-include="components/includes/messages.html"></div>
                  </div>
                </div>
              </md-input-container>

              <!-- Campo Contacto de emergencia -->
              <md-input-container flex-offset>
                <label>Contacto de emergencia</label>
                <input name="emergContact" ng-model="vm.userIn.emergContact" type="text" required>
                <!-- Mensaje de retroalimentacion -->
                <div ng-messages="projectForm.clientEmail.$error" role="alert">
                  <div ng-messages="frmModInfo.emergContact.$error">
                    <div ng-messages-include="components/includes/messages.html"></div>
                  </div>
                </div>
              </md-input-container>

              <button class="btn btn-primary buttonForm" type="submit" ng-click="vm.update(vm.userIn)" ng-disabled="frmModInfo.$invalid">Actualizar</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Formulario de solicitud de cita -->
      <div id="form2" class="col-xs-12">
        <button class="btn btn-primary btn-lg buttonCollapse" type="button"  data-toggle="collapse" data-target="#clientMeasurement" aria-expanded="false" aria-controls="clientMeasurement">Solicitar cita de medición</button>
        <div class="collapse" id="clientMeasurement">
          <div class="well">
            <p id="coachAsigne">Su instructor asignado es {{vm.userIn.coachName}}</p>
            <form name="frmClientM" class="form-inline ">
              <md-input-container flex-offset>
                <md-datepicker ng-model="vm.date"  md-placeholder="Fecha de cita" required></md-datepicker>
              <!-- Mensaje de retroalimentacion -->
                <div ng-messages="projectForm.date.$error" role="alert">
                   <div ng-messages="frmModInfo.emergContact.$error">
                     <div ng-messages-include="components/includes/messages.html"></div>
                   </div>
                </div>
              </md-input-container>
              <output id="ErrorMessage"></output>
              <output id="SuccessMessage"></output>
              <button class="btn btn-primary buttonForm" type="submit" ng-click="vm.setAppointment(date)" ng-disabled="frmClientM.$invalid">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="motivationMsj" class=" col-sm-12 col-md-5 col-lg-5">
      <p>¡Siempre firme hacia las metas, se puede lograr!</p>
    </div>
  </div>

  <!-- Tabla de estado de citas -->
  <div id="notifications" class="row">
    <p>Notificación de las citas solicitadas: </p>
    <table class="col-xs-12">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="appointment in vm.appointmentsStatus">
          <td>{{appointment.date}}</td>
          <td>{{appointment.state}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Tabla para filtro de medidas-->
  <div id="filterMeas" class="row">
    <p>Sus medidas al día de hoy son:</p>
    <table class="col-xs-12">
      <thead>
        <tr>
          <th>PORCENTAJE DE MASA MUSCULAR</th>
          <th>PORCENTAJE DE GRASA SUBCUTÁNEA</th>
          <th>IMC</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p>Ver medidas de otras fechas, seleccione el rango:</p>
    <input  ng-model="ctrl.from" name="from" type="date"/>
    <input  ng-model="ctrl.to" name="to" type="date"/>
  
  </div>

</section>



